<div class="my-custom-carousel-container" *ngIf="showCarousel">
    <div class="carousel-items">
      <div *ngFor="let image of images; let i = index" class="carousel-item" [class.active]="i === currentImageIndex">
        <img [src]="image" alt="Image {{ i + 1 }}" class="carousel-image">
        <button class="go-to-collection-button" (click)="goToCollection()">Go to Collection</button>
      </div>
    </div>
    <button (click)="prevImage()" class="nav-button">&#8249;</button>
    <button (click)="nextImage()" class="nav-button">&#8250;</button>
  </div>
  