<div class="container mt-5">
    <h2>Create Product</h2>
    <form (submit)="createProduct()" class="needs-validation" novalidate>
      <div class="mb-3">
        <label for="productName" class="form-label">Name:</label>
        <input type="text" id="productName" class="form-control" [(ngModel)]="newProduct.name" name="productName" required>
        <div class="invalid-feedback">
          Please enter a product name.
        </div>
      </div>
  
      <div class="mb-3">
        <label for="productCategory" class="form-label">Category:</label>
        <input type="text" id="productCategory" class="form-control" [(ngModel)]="newProduct.category" name="productCategory" required>
        <div class="invalid-feedback">
          Please enter a product category.
        </div>
      </div>
  
      <div class="mb-3">
        <label for="productColor" class="form-label">Summary:</label>
        <input type="text" id="productColor" class="form-control" [(ngModel)]="newProduct.summary" name="summary" required>
        <div class="invalid-feedback">
          Please enter a product summary.
        </div>
      </div>
  
      <div class="mb-3">
        <label for="productColor" class="form-label">Price:</label>
        <input type="text" id="productColor" class="form-control" [(ngModel)]="newProduct.price" name="price" required>
        <div class="invalid-feedback">
          Please enter a product price.
        </div>
      </div>

      <div class="mb-3">
        <label for="productImage" class="form-label">Image Upload:</label>
        <input type="file" id="productImage" onclick="this.value = null" class="form-control" (change)="onFileSelected($event)" accept="image/*" required>
        <div class="invalid-feedback">
          Please select an image file.
        </div>
      </div>

      
  
      <button type="submit" [disabled] = "newProduct.imageUrl.length == 0" class="btn btn-primary">Create Product</button>
    </form>
  </div>
  

  