/* styles.css or your custom CSS file */

.container {
  margin-top: 50px; /* Adjust the top margin as needed */
}

.row {
  align-items: flex-start; /* Align items to the start of the container */
}

.image-container {
  position: relative;
}

.zoom-container {
  overflow: hidden;
}

.zoom-image {
  transition: transform 0.5s ease-in-out;
}

/* styles.css or your custom CSS file */

.zoom-controls {
  position: absolute;
  top: 10px;
  right: 10px;
}

.zoom-icon {
  font-size: 24px;
  color: #4CAF50; /* Standard green color for zoom icons */
  cursor: pointer;
  margin-right: 10px;
  transition: color 0.3s ease-in-out;
}

.zoom-icon:hover {
  color: #45A049; /* Darker green color on hover */
}
