/* styles.css or your custom CSS file */

.container {
  margin-top: 50px; /* Adjust the top margin as needed */
}

.row {
  align-items: flex-start; /* Align items to the start of the container */
}

.image-container {
  position: relative;
}

.zoom-container {
  overflow: hidden;
}

.zoom-image {
  transition: transform 0.5s ease-in-out;
}

/* styles.css or your custom CSS file */

.zoom-controls {
  position: absolute;
  top: 10px;
  right: 10px;
}

.zoom-icon {
  font-size: 24px;
  color: #4CAF50; /* Standard green color for zoom icons */
  cursor: pointer;
  margin-right: 10px;
  transition: color 0.3s ease-in-out;
}

.zoom-icon:hover {
  color: #45A049; /* Darker green color on hover */
}



.star-rating {
  font-size: 24px; /* Adjust the font size as needed */
  display: flex;
}

.golden {
  color: #FFD700; /* Set the color to golden (hex code for gold) */
  margin-right: 5px; /* Adjust the spacing between stars as needed */
}

.gray {
  color: #808080; /* Set the color to gray (hex code for gray) */
  margin-right: 5px; /* Adjust the spacing between stars as needed */
}

.out-of-stock {
  color: red; /* You can customize the color or any other styles */
  font-weight: bold;
  /* Additional styles for out-of-stock message */
}



