
  <nav class="nav" style="margin-top: 0;">
    <div [routerLink]="'/'" class="cart-container" style="cursor: pointer;">
      <span class="cart-text">My Cart</span>
      <i class="fas fa-shopping-cart fa-lg"></i>
    </div>
    <h2 style="display: none;">myShop</h2>
    <div class="nav-search" *ngIf="!hideSearchBox">
      <input type="text" placeholder="Search" style="padding: 8px;" [(ngModel)]="searchQuery">
      <button (click)="searchProducts()">
        <i class="fas fa-search"></i>
      </button>
    </div>
    
    <ul>
      <li *ngIf="!isLoggedIn">
        <a routerLink="login">
          <i class="fas fa-sign-in-alt"></i> Sign in
        </a>
      </li>
      <li *ngIf="isLoggedIn">
        <h4>Welcome {{ username }}!</h4>
      </li>
      <li *ngIf="isLoggedIn">
        <a href="#">
          <i class="fas fa-shopping-cart"></i> Cart
        </a>
      </li>
      <li *ngIf="isLoggedIn">
        <a routerLink="addproduct">
          <i class="fas fa-plus"></i> Add Product
        </a>
      </li>
      <li *ngIf="isLoggedIn">
        <a href='javascript:void(0)' (click)="logout()">
          <i class="fas fa-sign-out-alt"></i> Sign out
        </a>
      </li>
    </ul>
  </nav>
