/* styles.css or your custom CSS file */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #087A91;
  color: aliceblue;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000; /* Set z-index to ensure it's above other elements */
}

.nav img {
  max-width: 80px;
}

.nav h2 {
  margin: 0;
  font-size: 1.5rem;
}

.nav-search {
  display: flex;
  align-items: center;
}

.nav-search input {
  padding: 8px;
  width: 300px; /* Adjust the width as needed */
}

.nav-search button {
  padding: 8px 15px;
  background-color: #087A91;
  border: none;
  cursor: pointer;
  color: aliceblue;
}

ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

ul li {
  margin-right: 15px;
}

ul li a {
  text-decoration: none;
  color: aliceblue;
}

.cart-container {
  display: flex;
  align-items: center;
  flex-direction: row; /* Set the direction to row */
}

.cart-container .cart-text {
  font-style: italic;
  font-weight: bold;
  font-size: 1.2em; /* Adjust the font size as needed */
  margin-right: 10px; /* Adjust the margin between text and icon as needed */
}


